@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to "Blank"</h1>
    <p>Keep up with "Blank" updates</p>
</div>

<div class="row mb-2">
    <div class="col-md-6">
        <div class ="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
    <h1 style="text-align:center">News</h1>
            <h2>
                <br>
            </h2>
            <h3>
                "02.11.2022"
                <a href="news/20220211.html">New figures announced at WonHobby</a>
            </h3>
        </div>
    </div>
    <div class="col-md-6">
        <div class ="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
    <h1 style="text-align:center">Dawn Fall PV</h1>
         <h2>
            <br>
        </h2>
             <p style="text-align: center">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/Wpc2hEdJj6M"> </iframe>
            </p>
        </div>
    </div>
    
    
</div>
<div class="row mb-2">
    <div class="col-md-6">
        <div class ="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
    <h1 style="text-align:center">Dawn Fall Tweets</h1>
            <h2>
                <br>
            </h2>
            <p style="text-align: center">
               <a class="twitter-timeline" data-width="500" data-height="500" data-theme="dark" href="https://twitter.com/project_brsDF?ref_src=twsrc%5Etfw">Tweets by project_brsDF</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </p>
            
            
        </div>
    </div>
    <div class="col-md-6">
        <div class ="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
    <h1 style="text-align:center">BRS Fragment Tweets</h1>
         <h2>
            <br>
        </h2>
             <p style="text-align: center">
                <a class="twitter-timeline" data-width="500" data-height="500" data-theme="dark" href="https://twitter.com/brs_fragment?ref_src=twsrc%5Etfw">Tweets by brs_fragment</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </p>
        </div>
    </div>
    
    
</div>

